.add_newContent{
  margin-left:0px !important
}
.waring{
  padding-left:20px;
  padding-top:70px
}
.contain-title,.countryName-title{
  padding-bottom:20px;
}
.save{
  border-bottom:0px !important;
}
.errorImg p{
  position:absolute;
  left:150px;
  top:400px;
  color:red;
  font-size: 14px;
}
.uploadImg p{
  position:absolute;
  left:56px;
  top:130px;
  color:red;
  font-size: 14px;
}
#performersName-error,#introduce-error,#address-error,#music_styleSelect-error,#sign_companyName-error{
  font-size: 16px !important;
  color:red !important
}
.net-error,.countryName-error{
  position:relative;
}
.net-error p,.countryName-error p{
  position:absolute;
  top:-30px;
  left:400px;
  font-size: 16px;
  font-weight: 700;
  color:red;
}
label{
  font-weight: normal !important;
}
.red {
  color: #f30026;
}
.errorSize{
  position:absolute;
  left:150px;
  top:400px;
  color:red;
  font-size: 14px;
}
.select2-container--open .select2-dropdown--below{
  z-index:10000;
}
.select2-container--open .select2-dropdown--above{
  z-index:10000;
}
