.add-net{
  margin-top:10px;
}
.contain-title,.countryName-title{
  padding-bottom:20px;
}
#income ul{
  width:100%;
  height:50px;
  background:#007dbb;
}
#income ul li{
  width: 200px;
  height:50px;
  line-height: 50px;
  color:#fff;
  text-align: center;
}
.red {
  color: #f30026;
}
.waring{
  padding-left:20px;
  padding-top:70px
}
.select2_performer,.echo_select2_performer{
  width:100%;
  height:35px;
}
.echo_selectBox{
  height:40px !important;
}
.add_newContent{
  margin-left:0px !important
}
.record_company_modal{
  width:1200px !important
}
.am-modal-bd{
  text-align: left !important;
}
