.base_pic_show{
    padding-left:6px;
    padding-top:70px;
}
.base_register_div{
    margin-left:10px;
    width:180px;
    height:180px;
    border:1px solid #eaeaea;
}
.base_upfilebox input {
    width: 180px;
    height: 180px;
    position: absolute;
    z-index: 9;
    opacity: 0;
}
.base_upfilebox .lable {
    position: absolute;
    left:52px;
    display: inline-block;
    color: #fff;
    width: 180px;
    height: 180px;
    line-height: 45px;
    text-align: center;
    border-radius: 5px;
}
.baseInfo_sign{
    position: absolute;
    left: 220px;
    top: 155px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #f30026;
    border-radius: 100%;
    color:#fff;
    cursor: pointer;
    text-align: center;
    line-height: 19px;
    z-index:-1;
}
#base_register-view{
    width:180px;
    height:180px;
}
#base_register-view:hover .baseInfo_sign{
    z-index: 30;
}
#myModalLabel{
    position:relative;
    top:7px;
}
.hide{
    display:none;
}
.lable-pic{
    background: url(../../imgs/common-icon-img1.png) no-repeat;
}
.base_lable {
    background-position: 40px 42px !important;
}
.img{
    position:absolute;
    left:51px;
    z-index:20;
    cursor:pointer;
}
.modal-title{
    color:#666666;
}
