.modilfypassword{
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin: 180px auto;
    width: 480px;
    padding: 50px 35px 35px 50px;
    background: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 25px #cac6c6;
}
.login_error{
    margin-bottom: 20px;
}
.form-group {
    height:30px;
}
.admin-sidebar{
    overflow-x: hidden;
    overflow-y: hidden;
}
.left_menu_div{
    overflow-x: hidden;
    overflow-y: hidden;
}
.admin-sidebar-sub {
    padding-left:0;
}
.left-sidebar {
    min-height: 100%;
    padding-top: 57px;
}
.admin-sidebar {
    width: 240px;
}
.sidebar-nav-link a.active {
    background: #f2f6f9;
}
.sidebar-nav-link a:hover {
    background: #f2f6f9;
    color:#1CA2CE;
}
.admin-offcanvas-bar {
    background: #ffffff;
    min-height: 100%;
}
.sidebar-nav-link a:hover {
    border-left: #1CA2CE 3px solid;
    color:#1CA2CE;
}
.sidebar-nav-link a {
    border-left: #ffffff 3px solid;
}
a:hover{
    text-decoration: none;
}