.login{
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin: 180px auto;
    width: 480px;
    padding: 50px 35px 35px 50px;
    background: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 1px #cac6c6;
}
::-ms-clear,::-ms-reveal{display:none;}
.btn-blue {
    background: #0099ff;
    transition: background 0.2s, transform 2s;
    color: #ffffff;
}