/*
.user_password{
    padding-left: 0;
}
.title{
    height:30px;
}
.form-group a:hover{
    text-decoration: none;
    cursor: pointer;
    color: red;
}*/
.container-content{
    margin-top:-160px !important;
}
