.add_newContent{
  margin-left:0px !important
}
.waring{
  padding-left:20px;
  padding-top:70px
}
.contain-title{
  padding-bottom:20px;
}
.save{
  border-bottom:0px !important;
}
.errorImg p{
  position:absolute;
  left:150px;
  top:400px;
  color:red;
  font-size: 14px;
}
.uploadImg p{
  position:absolute;
  left:56px;
  top:130px;
  color:red;
  font-size: 14px;
}
#officialName-error,#introduce-error,#address-error,#music_styleSelect-error,#mail-error,#contactNumber-error{
  font-size: 16px !important;
  color:red !important
}
.net-error{
  position:relative;
}
.net-error p{
  position:absolute;
  top:-30px;
  left:400px;
  font-size: 16px;
  font-weight: 700;
  color:red;
}
label{
  font-weight: normal !important;
}
.red {
  color: #f30026;
}
.errorSize{
  position:absolute;
  left:150px;
  top:400px;
  color:red;
  font-size: 14px;
}
