.header_title {
    border-bottom: 0px !important;
}

.header_main {
    width: 60%;
}
.album_base_info{
    line-height: 5px;
    font-size: 15px;
}
.top_pic{
    width: 100px;
    height: 100px;
}
.content_pic{
    width: 320px;
    height: 320px;
}
.album_info p{
    line-height: 5px;
    font-size: 15px;
}