.title_waring{
  position:absolute;
  right:30px;
  top:30px;
}
.title_waring a{
  list-style: none;
  text-decoration: none;
}
.waring{
  padding-left:80px;
  padding-top:83px
}
.view_img{
  margin-top:90px;
}
#songContent .songName{
  margin-left:10px;
  font-size: 14px;
  font-weight: 700;
}
.songList{
  padding-top:25px;
  padding-bottom:10px;
  border-bottom:1px solid #eef1f5
}
