.radio_yes{
  padding-top:15px;
}
.nothing_more{
  padding-top:50px;
}
.btn_add{
  margin-top:40px;
}
.containError{
  position: relative;
}
.playError{
  position: absolute;
  top:-32px;
  left:200px;
  font-size: 18px;
  color:red;
}
