<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Boracay Web Smaples</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="Boracay Web Smaple">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <!-- 用于传递 contextPath-->
    <meta name="ctx"
          th:content="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/'}"/>
    <!--end-->

    <script th:src="@{/assets/js/lib/jquery-3.2.1/jquery-3.2.1.min.js}"></script>


    <script th:src="@{/assets/js/lib/bootstrap-3.3.7/bootstrap.min.js}"></script>
    <link th:href="@{/assets/css/lib/bootstrap-3.3.7/bootstrap.css}" rel="stylesheet">

    <!--使用hubspot messager做提示对话框 -->
    <script th:src="@{/assets/js/lib/messenger-1.4.1/messenger.min.js}"></script>
    <script th:src="@{/assets/js/lib/messenger-1.4.1/messenger-theme-flat.js}"></script>
    <link th:href="@{/assets/css/lib/messenger-1.4.1/messenger.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/lib/messenger-1.4.1/messenger-theme-future.css}"
          rel="stylesheet"/>
    <link th:href="@{/assets/css/lib/messenger-1.4.1/messenger-theme-air.css}" rel="stylesheet">
    <!--调用结束-->
    <!---->
    <script th:src="@{/assets/js/lib/jquery-validation-1.16.0/jquery.validate.min.js}"></script>

    <!-- datatables -->
    <script th:src="@{/assets/js/lib/DataTables-1.10.15/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/js/lib/DataTables-1.10.15/dataTables.bootstrap.js}"></script>
    <link th:href="@{/assets/css/lib/DataTables-1.10.15/jquery.dataTables.min.css}"
          rel="stylesheet">
    <link th:href="@{/assets/css/lib/DataTables-1.10.15/dataTables.bootstrap.min.css}"
          rel="stylesheet">
    <!---->

    <!--使用jonnyreeves/js-logger-->
    <script th:src="@{/assets/js/lib/jonnyreeves-js-logger/logger.min.js}"></script>
    <!---->


    <!-- jquery.datetimepicker-2.5.4-->
    <link th:href="@{/assets/css/lib/jQuery.dateTimePicker-2.5.4/jquery.datetimepicker.min.css}"
          rel="stylesheet"/>
    <script th:src="@{/assets/js/lib/jQuery.dateTimePicker-2.5.4/jquery.datetimepicker.full.js}"></script>
    <!--引入结束-->

    <!-- 引入 jquery.file-input css 和js 的引用必须按照下面顺序。 https://github.com/kartik-v/bootstrap-fileinput -->
    <link th:href="@{/assets/css/lib/bootstrap-file-input-4.4.6/fileinput.css}" media="all" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/assets/js/lib/bootstrap-file-input-4.4.6/themes/explorer/theme.css}" media="all" rel="stylesheet"
          type="text/css"/>
    <!--显示 fileupload 预览框里面按钮和图片-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media="all"
          rel="stylesheet" type="text/css"/>
    <!--file-input 插件所用的 css 载入完成-->


    <!-- the main fileinput plugin file -->
    <script th:src="@{/assets/js/lib/bootstrap-file-input-4.4.6/plugins/canvas-to-blob.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/lib/bootstrap-file-input-4.4.6/fileinput.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/lib/bootstrap-file-input-4.4.6/locales/zh.js}" type="text/javascript"></script>

    <script th:src="@{/assets/js/lib/bootstrap-file-input-4.4.6/themes/explorer-fa/theme.js}"
            type="text/javascript"></script>
    <script th:src="@{/assets/js/lib/bootstrap-file-input-4.4.6/themes/fa/theme.js}" type="text/javascript"></script>
    <!-- 引入结束-->


    <!--载入前台 UI 显示错误信息所用到的 js 文件引入-->
    <script th:src="@{/assets/js/lib/jquery-ui-1.12.1/jquery-ui.js}"></script>
    <link th:href="@{/assets/css/lib/jquery-ui-1.12.1/jquery-ui.css}" rel="stylesheet"/>

    <script th:src="@{/assets/js/lib/qtip2-3.0.3/jquery.qtip.js}"></script>
    <link th:href="@{/assets/css/lib/qtip2-3.0.3/jquery.qtip.css}" rel="stylesheet"/>
    <!--调用结束-->

    <!--使用HubSpot Messager做提示对话框 -->
    <script th:src="@{/assets/js/lib/messenger-1.4.1/messenger.min.js}"></script>
    <script th:src="@{/assets/js/lib/messenger-1.4.1/messenger-theme-flat.js}"></script>
    <link th:href="@{/assets/css/lib/messenger-1.4.1/messenger.css}" rel="stylesheet">
    <link th:href="@{/assets/css/lib/messenger-1.4.1/messenger-theme-future.css}" rel="stylesheet">
    <link th:href="@{/assets/css/lib/messenger-1.4.1/messenger-theme-air.css}" rel="stylesheet">
    <!--调用结束-->


    <script th:src="@{/assets/js/application.js}"></script>
    <link th:href="@{/assets/css/application.css}" rel="stylesheet"/>

    <script th:src="@{/assets/js/component/showExceptionOrMessage.js}"></script>

    <script th:inline="javascript">
        var contextPath = $("meta[name='ctx']").attr("content");
    </script>

</head>
<body>


<div style="display: none" th:text="${#request.contextPath}" >
</div>
<!-- 通过 tag名称 引用 -->
<div class="top_menu_container" th:replace="decorators/top_menu :: menu"></div>

<div class="content_container" th:include="this :: content"></div>

<!-- 通过 tag名称 引用 -->
<div th:insert="decorators/footer :: copy"></div>
<!-- 通过 id 的方式引用 -->
<!--<div th:replace="decorators/footer :: #copy-section"></div>-->
</body>
</html>
