<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<body>

<div class="content_container" th:fragment="demoContent">

    <script th:src="@{/assets/js/lib/jquery-qrcode/jquery.qrcode.min.js}" type="text/javascript"></script>
    <div>
        二次验证的过程简介：<br/>
        <ul>
            <li>
                在服务器上生成一个秘钥。每个用户每次产生不同的秘钥。保存或者更新在数据库中。
            </li>
            <li>
                根据秘钥，用户名（或者脱敏过的名字，比如 fullname）和网站描述<br/>
                生成 otpauth协议内容的二维码<br/>
                结构如下：<br/>
                otpauth://totp/[用户名]?secret=[秘钥]&issuer=[网站描述]
            </li>
            <li>
                让用户通过手机 app：Google Authenticator这种客户端，扫描二维码。<br/>
                客户端程序会保存 三个参数在本地。但是secret 不显示。只显示 用户名，网站描述。以及每过一段时间产生的6位数密码。
            </li>
            <li>
                每次二次验证的时候，要求用户输入 app 产生的6位数的密码。<br/>
                服务器获取客户端上传上来的密码<br/>
                然后从服务器端获取秘钥。进行密码生成<br/>
                二者进行匹配，如果相同，说明而二次验证通过。
            </li>
        </ul>
    </div>
    <div>演示
        <ul>
            <li>
                <div>
                    第一步：开启二次验证后，产生秘钥和二维码(这个步骤只需要每次开启二次验证后，只做一次。秘钥的产生，和用户名，网站描述无关。)
                    <br/>输入用户名（为了演示方便，这里用录入的方法，在实际应用中应该在传统登录后，从 session 中获取）<br/>
                    <input id="totp_user" value="test@me.com">
                    网站描述（应该从配置文件中获取）<br/>
                    这2个参数再加上秘钥，决定了 totp 二维码的内容。而需要保存的秘钥和这2个参数无关<br/>
                    <input id="totp_issuer" value="boracay 中文">
                    <button onclick="javascript:fun_genTOTP()">生成totp二维码和秘钥</button>
                </div>
            </li>
            <li>
                <div>
                    第二步：在手机端使用Google Authenticator的 app，扫描这个二维码
                    <br/>最好提示用户保存秘钥。以便在所有的 app 都删除的情况下。能要求服务器进行二维码恢复<br/>
                    秘钥：<input size="36" id="secret">
                    <div id="qrcode"></div>
                </div>
            </li>
            <li>
                <div>
                    第三步：在普通的用户名和密码登录成功，读取app 上产生的校验码进行匹配<br/>
                    输入 手机上的 6位密码 <input id="app_secret">
                    <button id="" onclick="javascript:fun_second_auth()">进行二次验证</button>
                </div>
            </li>
        </ul>
    </div>
    <script>
        function fun_genTOTP() {
            var user = $("#totp_user").val();
            var issuer = $("#totp_issuer").val();
            $.ajax({
                type: 'post',
                url: contextPath + '/test/genTOTP/' + user + '/' + issuer + '.json',
                async: true,//默认为true
                dataType: 'json',//默认为预期服务器返回的数据类型
                beforeSend: function () {

                },
                success: function (data) {
                    $("#secret").html(data.secret);
                    $("#qrcode").empty();
                    $('#qrcode').qrcode(data.optauth);
                },
                error: function (exception) {

                }
            });
        }
        
        function fun_second_auth() {
            var app_secret = $("#app_secret").val();
            var server_secret = $("#secret").val();
            $.ajax({
                type: 'get',
                url: contextPath + '/test/sencond_auth/' + app_secret + '/' + server_secret + '.json',
                async: true,//默认为true
                dataType: 'json',//默认为预期服务器返回的数据类型
                beforeSend: function () {

                },
                success: function (data) {
                    showMessage("success", data.data.localMessage);
                },
                error: function (exception) {
                    showExceptionTip(exception);
                }
            });
        }
    </script>

</div>

</body>
</html>
